.navbar {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 0;
}

.search {
    display: flex;
    align-items: center;
}

.search-text {
    flex: 1;
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 500px; */
}

.search-symbol {
    width: 35px;
    height: auto;
    cursor: pointer;
    border-radius: auto;
}

.navbar input {
    background: transparent;
    color: rgb(167, 167, 167);
    border-radius: 50px;
    border: 1px solid rgb(0, 22, 59);
    padding: 10px 40px;

}